@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot");
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}



body{
	margin: 0;
	padding: 0;
	width: 100%;
}


/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#header { 
	width: 100%; 
	background-color:firebrick;
    opacity: 0.9;
	height: 80px; 	
	position: fixed;
	margin-top: 30px;
}

#nav { width: 100%; float: right; margin-top: 20px; }
#nav ul{
	list-style: none;
	margin: 0 auto;
    padding-right: 20px;	
}

#nav li{
    display: inline;
	margin-top: 9px;	
	float: right;
	padding-left: 15px;
}

#logout{
    visibility: hidden;
    margin-left: 10px;
}


#nav li a { color: #FEFACB; opacity:0.6; font-size: 17px; text-decoration: none; font-family: monospace; }
#nav li a.active { color: #FEFACB; opacity:1; border-bottom: 2px solid #FEFACB; }
#nav li a:hover { color: #FEFACB; opacity:1;  }





/*= SLIDES STYLING
--------------------------------------------------------*/
#home{
    background-color: #FEFACB;
	color: #333333;
	height: 100%;
	margin: 0 auto;
	padding: 100px 0 200px 0;
	background-size: cover;
}

#plakat{
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#disziplinen{
    background-color: #FEFACB;
	color: #333333;
	height: 600px;
	margin: 0 auto;
	padding: 160px 0 0 0;
	background-size: cover;
}

#disziplinen ul{
    float: left;
    padding-left: 100px;
    list-style: none;
}

#samstag button{
    border-radius: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
    width: 250px;
    color: #FEFACB;
    font-size: 17px; 
    font-family: monospace; 
    border: 3px solid;
    background-color: firebrick;
    padding: 7px;
}

#samstag button:hover {
    background-color: #FEFACB;
    color:firebrick;
    cursor: pointer;
}

#sonntag button{
    border-radius: 50px;
    margin-left:100px;
    margin-bottom: 30px;
    width: 250px;
    color: #FEFACB;
    font-size: 17px; 
    font-family: monospace; 
    border: 3px solid;
    background-color: firebrick;
    padding: 7px;
   
}

#sonntag button:hover {
    background-color: #FEFACB;
    color:firebrick;
    cursor: pointer;
}

#disziplinenInfo{
    clear:both;
    width:auto;
    height: auto;
    text-align: center;
    font-size: 17px;
    font-family: monospace;
    color: firebrick;
    margin-left: 10px;
    margin-right: 10px;
}

#trainingsplan{
	background-color: #FEFACB;
	color: #333333;
    margin: 0 auto;
	height: auto;
	padding: 160px 0 0 0;	
	background-size: cover;
    margin-bottom: 15px;
}

#saveTraining {
    border-radius: 50px;
    margin-left: 100px;
    margin-bottom: 15px;
    float: left;
    width: 400px;
    color: #FEFACB;
    font-size: 16px; 
    font-family: monospace; 
    border: 3px solid;
    background-color: firebrick;
    padding: 8px;
}

#trainingszeiten {
    clear: both;
    width:auto;
    height: auto;
    text-align: justify;
    font-size: 17px;
    font-family: monospace;
    color: firebrick;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
}

#generellTraining {
    clear: both;
    width: auto;
    height: autp;
    text-align: justify;
    font-size: 14px;
    font-family: monospace;
    color: firebrick;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    
}
#trainingszustand {
    clear: both;
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 14px;
    font-family: monospace;
    color: firebrick;
    
}
#trainingsplan button:hover {
    background-color: #FEFACB;
    color:firebrick;
    cursor: pointer;
}

#trainingsplan table {
    width: auto;
    border-collapse: collapse;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
}

#trainingsplan table, th, td {
    border: 3px solid #FEFACB;
    padding: 7px;
    background-color: firebrick;
    color: #FEFACB;
    font-family: monospace; 
    font-size: 100%; 
}

#trainingsplan td:hover {
    background-color: #FEFACB;
    color:firebrick;
    cursor: pointer;
    
}

#trainingseinheit {
    clear: both;
    width:auto;
    height: auto;
    text-align: justify;
    font-size: 14px;
    font-family: monospace;
    color: firebrick;
    margin-left: 100px;
    margin-right: 100px;
}

#trainingsname {
    clear: both;
    width:auto;
    height: auto;
    text-align: justify;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    color: firebrick;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 7px;
}

#score{
	background-color: #FEFACB;
	color: #333333;
    width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 160px 0;
    background-size: cover;
}

#score table {
    border-collapse: collapse;
    margin-left: 100px;
    margin-right: 100px;
}

#score table, th, td {
    border: 3px solid #FEFACB;
    padding: 7px;
    background-color: firebrick;
    color: #FEFACB;
    font-family: monospace; 
    font-size: 14px; 
}

#score input{
    position: relative;
    display: block;
    margin : 0 auto;
    font-family: monospace; 
    background-color: firebrick;
    color: #FEFACB;
    font-size: 100%; 
    
}

#score button{
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 20px;
    width: 200px;
    color: #FEFACB;
    font-size: 16px; 
    font-family: monospace; 
    border: 3px solid;
    background-color: firebrick;
    padding: 7px;
    float: left;
}

#score button:hover {
    background-color: #FEFACB;
    color:firebrick;
    cursor: pointer;
}


#grafikGenButton{
    visibility: hidden;
    padding: 7px;
}

#piechart{
    margin-top: 150px;
    margin-left: 200px;
}

#bestenliste{
	background-color: #FEFACB;
	color: #333333;
	height: 800px;
	padding: 160px 0;
    background-size: cover;
}

#bestenliste table {
    border-collapse: collapse;
    margin-left: 100px;
    margin-right: 100px;
}

#besetenliste table, th, td {
    border: 3px solid #FEFACB;
    padding: 7px;
    background-color: firebrick;
    color: #FEFACB;
    font-family: monospace; 
    font-size: 100%;
    font-weight: normal;
}

#tabelleMen {
    margin-bottom: 20px;
    clear: both;
    width:auto;
    height: auto;
    text-align: justify;
    font-size: 20px;
    font-family: monospace;
    color: firebrick;
    margin-left: 100px;
}

#tabelleWomen {
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    width:auto;
    height: auto;
    text-align: justify;
    font-size: 20px;
    font-family: monospace;
    color: firebrick;
    margin-left: 100px;
}


#infos_wettkampf{
	background-color: #FEFACB;
	height: 200px;
	margin: 0 auto;
	padding: 160px 0;
	color: #333333;
	height: 100%;
    width: 100%;
	margin: 0 auto;
	padding: 100px 0 200px 0;
	background-size: cover;
}
#infos{
    display: block;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


#anmeldung{
	background-color: #FEFACB;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color:#333333;
	background-size: cover;
    font-family: monospace;
}

#successfulLogIn{
    visibility: hidden;
    position: fixed;
    line-height: 30px;
    top: 0;
    right: 0;
    height: 30px;
    width: auto;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    background-color: #8AC007;
}

#successfulLogOut{
    visibility: hidden;
    position: fixed;
    line-height: 30px;
    top: 0;
    right: 0;
    height: 30px;
    width: auto;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    background-color: red;
}

#wettkampfanmeldung{
    clear: both;
    width:auto;
    height: 100px;
    text-align: center;
    font-size: 17px;
    font-family: monospace;
    color: firebrick;
    margin-left: 10px;
    margin-right: 10px;
}

#logInButton{
    margin-top: 10px;
    background-color: firebrick;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    width: 100px;
}

#logOutButton{
    margin-top: 10px;
    background-color: firebrick;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    width: 100px;
}

#anmeldung input{
    font-size: 17px;
}



/*= FOOTER 
--------------------------------------------------------*/

#copyright  { color: #fff; font-family:"Wellfleet";  font-size: 14px; margin-top: 100px; text-align: center;  }
#copyright  a { text-decoration: none; color: #fff;  }
